<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950678004988-4sta5ufk8qklnktqe0hvhlftmn2rgsek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950678004988-4sta5ufk8qklnktqe0hvhlftmn2rgsek</string>
	<key>API_KEY</key>
	<string>AIzaSyCuWlOucJbd3HetY1P2Ki8c4X8UmbriTRE</string>
	<key>GCM_SENDER_ID</key>
	<string>950678004988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pawan.helloMonkey</string>
	<key>PROJECT_ID</key>
	<string>hellomonkey-382fe</string>
	<key>STORAGE_BUCKET</key>
	<string>hellomonkey-382fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950678004988:ios:f2d4611f0e7a2ce818a379</string>
</dict>
</plist>